/* Reset total y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body ocupa todo y tiene fondo bonito */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: white;
}

/* Contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


/* Estilos para los títulos principales 
que se declaran con tipo de letra personalizada
se usan en Inicio.tsx
*/

/* Navbar fijo arriba */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 1000;
  background-color: #1e541e;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 10px 20px;
  display: flex;
}

/* Ajusta el carrusel para que esté justo debajo de la navbar */
.carousel-img {
  height: 500px; /* altura fija para el carrusel */
  width: 1350px; /* ajusta el ancho al contenedor */
  margin: 60px auto 0 auto; /* ajusta el margen superior para compensar el navbar */
  display: block; /* asegura que la imagen se comporte como un bloque */
  object-fit: cover; /* asegura que la imagen cubra el área sin distorsionarse */

}


/* Estilos para los botones 
que están contenidos en el navbar
se usan en App.tsx (Vendrian siendo los links)
*/
.btn {
  background-color: #206522; /* verde */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: white;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: center;
}

.display-4 + h2 {
  font-size: 1.5rem;
  color: #636966;
  margin-top: 5px;
  text-align: center;
}


/* Contenido central centrado */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* centra vertical */
  align-items: center;       /* centra horizontal */
  text-align: center;        /* centra el texto */
  padding: 0px 20px 20px 20px; /* espacio para navbar */
  width: 100vw;
  color: black; /* letras blancas sobre fondo azul */
}

/* Footer fijo abajo */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #1e541e;
  color: #fff;
  text-align: center;
  padding: 12px 0;
}